@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using System.Web
@model Burial

<!-- course item -->
<div class="col-lg-4 col-sm-6 mb-5">
    <div class="card p-0 border-primary rounded-0 hover-shadow">
        <div class="card-body">
            <ul class="list-inline mb-2">
                <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>Year: @Model.fieldbookexcavationyear</li>
            </ul>
            <ul class="list-inline mb-2">
                <li class="list-inline-item">Sex: @Model.sex</li>
            </ul>
            <ul class="list-inline mb-2">
                <li class="list-inline-item">Depth: @Model.depth</li>
            </ul>
            <ul class="list-inline mb-2">
                <li class="list-inline-item">Head Direction: @Model.headdirection</li>
            </ul>
            <a href="course-single.html">
                <h4 class="card-title">ID: @Model.id</h4>
            </a>
            <p class="card-text mb-4">Description: @Model.text
            </p>
            <a asp-controller="Home" asp-action="IndividualBurial" class="btn btn-primary btn-sm">View Record</a>

        </div>
    </div>
</div>