@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Burial


<!-- page title -->
<section class="page-title-section overlay bg-cover" style="background-image:url('https://i.postimg.cc/VLrh7szq/hierogl.jpg');">
    <div class="container">
        <div class="row" style="background: #FFCD6E; opacity:0.9;">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb mb-2">
                    <li class="list-inline-item"><a class="h2 font-secondary" asp-controller="Home" asp-action="Index" style="color:white;">Home</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted">Individual Burial Record</li>
                </ul>
                <p class="mb-0" style="color:white;">This page displays all excavated burials and relevant details about the burials. Come back often to see what new information has been discovered</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->
<!-- section -->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4">
                </div>
            </div>
            <!-- course info -->
            <div class="row align-items-center mb-5">
                <div class="order-1 col-sm-6 mb-4 mb-xl-0">
                    <h2>Burial Record</h2>
                </div>
                <div class="col-xl-6 order-sm-3 order-xl-2 col-12 order-2">
                    <ul class="">
                        <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                            <div class="d-flex align-items-center">
                                <div class="text-left">
                                    <h6 class="mb-0">DEPTH</h6>
                                    <p class="mb-0">@(String.IsNullOrEmpty(Model.depth) ? "No Data" : Model.depth + 'm')</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                            <div class="d-flex align-items-center">
                                <div class="text-left">
                                    <h6 class="mb-0">HEAD DIRECTION</h6>
                                    <p class="mb-0">@(String.IsNullOrEmpty(Model.headdirection) ? "No Data" : Model.headdirection)</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                            <div class="d-flex align-items-center">
                                <div class="text-left">
                                    <h6 class="mb-0">Age At Death</h6>
                                <p class="mb-0">@(String.IsNullOrEmpty(Model.ageatdeath) ? "No Data" : Model.ageatdeath)</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                            <div class="d-flex align-items-center">
                                <div class="text-left">
                                    <h6 class="mb-0">EXCAVATION DATE</h6>
                                <p class="mb-0">@(String.IsNullOrEmpty(Model.dateofexcavation) ? "No Data" : Model.dateofexcavation)</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                            <div class="d-flex align-items-center">
                                <div class="text-left">
                                    <h6 class="mb-0">EXPERT INITIALS</h6>
                                <p class="mb-0">@(String.IsNullOrEmpty(Model.dataexpertinitials) ? "No Data" : Model.dataexpertinitials)</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                            <div class="d-flex align-items-center">
                                <div class="text-left">
                                    <h6 class="mb-0">SEX</h6>
                                <p class="mb-0">@(String.IsNullOrEmpty(Model.sex) ? "No Data" : Model.sex)</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                @*border*@
                <div class="col-12 mt-4 order-4">
                    <div class="border-bottom border-primary"></div>
                </div>
            </div>
            <div class="flex row" style="gap: 2vw; justify-content: center;">
                    @*<a href="course-single.html" class="btn btn-primary" asp-controller="Home" asp-action="Edit" asp-route-id ="@x.id">Edit Record</a>
                    <a href="course-single.html" class="btn btn-primary" asp-controller="Home" asp-action="Delete" asp-route-id ="@x.id">Delete Record</a>*@

            </div>
            <!-- course details -->
            <div class="row">
                <div class="col-12 mb-4">
                    <h3>Mummy Description</h3>
                    <p>
                    @(String.IsNullOrEmpty(Model.text) ? "No description for this mummy" : Model.text)
                    </p>
                </div>
                <div class="col-12 mb-4">
                    <h3 class="mb-3">Location Data</h3>
                    <div class="col-12 px-0">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-styled">
                                <li>Square North South: @(String.IsNullOrEmpty(Model.squarenorthsouth) ? "No Data" : Model.squarenorthsouth)</li>
                                <li>Square East West: @(String.IsNullOrEmpty(Model.squareeastwest) ? "No Data" : Model.squareeastwest)</li>
                                <li>North South: @(String.IsNullOrEmpty(Model.northsouth) ? "No Data" : Model.northsouth)</li>
                                <li>East West: @(String.IsNullOrEmpty(Model.eastwest) ? "No Data" : Model.eastwest)</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-styled">
                                <li>Shaft Number: @(String.IsNullOrEmpty(Model.shaftnumber) ? "No Data" : Model.shaftnumber)</li>
                                <li>Cluster Number: @(String.IsNullOrEmpty(Model.clusternumber) ? "No Data" : Model.clusternumber)</li>
                                <li>Samples Collected: @(String.IsNullOrEmpty(Model.samplescollected) ? "No Data" : Model.samplescollected)</li>
                                <li>Area: @(String.IsNullOrEmpty(Model.area) ? "No Data" : Model.area)</li>
                                <li>Burial ID: @(Model.burialid == null ? "No Data" : Model.burialid)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4">
                    <h3 class="mb-3">Burial Details</h3>
                    <div class="col-12 px-0">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-styled">
                                <li>Developmental Stage: @(String.IsNullOrEmpty(Model.adultsubadult) ? "No Data" : Model.adultsubadult)</li>
                                <li>Face Bundles: @(String.IsNullOrEmpty(Model.facebundles) ? "No Data" : Model.facebundles)</li>
                                <li>Preservation: @(String.IsNullOrEmpty(Model.preservation) ? "No Data" : Model.preservation)</li>
                                <li>Wrapping: @(String.IsNullOrEmpty(Model.wrapping) ? "No Data" : Model.wrapping)</li>
                                <li>Field Book Page: @(String.IsNullOrEmpty(Model.fieldbookpage) ? "No Data" : Model.fieldbookpage)</li>
                                <li>Goods: @(String.IsNullOrEmpty(Model.goods) ? "No Data" : Model.goods)</li>
                                <li>Excavation Recorder: @(String.IsNullOrEmpty(Model.excavationrecorder) ? "No Data" : Model.excavationrecorder)</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-styled">
                                <li>Hair: @(String.IsNullOrEmpty(Model.hair) ? "No Data" : Model.hair)</li>
                                <li>Hair Color: @(String.IsNullOrEmpty(Model.hair) ? "No Data" : Model.haircolor)</li>
                                <li>Burial Materials: @(String.IsNullOrEmpty(Model.burialmaterials) ? "No Data" : Model.burialmaterials)</li>
                                <li>South to Feet: @(String.IsNullOrEmpty(Model.southtofeet) ? "No Data" : Model.southtofeet)</li>
                                <li>West to Feet: @(String.IsNullOrEmpty(Model.westtofeet) ? "No Data" : Model.westtofeet)</li>
                                <li>South to Head: @(String.IsNullOrEmpty(Model.southtohead) ? "No Data" : Model.southtohead)</li>
                                <li>West to Head: @(String.IsNullOrEmpty(Model.westtohead) ? "No Data" : Model.westtohead)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>