@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IQueryable<Burial>

<!-- page title -->
<section class="page-title-section overlay bg-cover" style="background-image:url('https://i.postimg.cc/VLrh7szq/hierogl.jpg');">
    <div class="container">
        <div class="row" style="background: #FFCD6E; opacity:0.9;">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb mb-2">
                    <li class="list-inline-item"><a class="h2 font-secondary" asp-controller="Home" asp-action="Index" style="color:white;">Home</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted">Individual Burial Record</li>
                </ul>
                <p class="mb-0" style="color:white;">This page displays all excavated burials and relevant details about the burials. Come back often to see what new information has been discovered</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->
<!-- section -->

@foreach (Burial x in Model)
    {

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4">
                </div>
            </div>
            <!-- course info -->
            <div class="row align-items-center mb-5">
                <div class="order-1 col-sm-6 mb-4 mb-xl-0">
                    <h2>Burial Record</h2>
                </div>
                <div class="col-xl-6 order-sm-3 order-xl-2 col-12 order-2">
                    <ul class="">
                        <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                            <div class="d-flex align-items-center">
                                <div class="text-left">
                                    <h6 class="mb-0">DEPTH</h6>
                                    <p class="mb-0">@(String.IsNullOrEmpty(x.depth) ? "No Data" : x.depth + 'm')</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                            <div class="d-flex align-items-center">
                                <div class="text-left">
                                    <h6 class="mb-0">HEAD DIRECTION</h6>
                                    <p class="mb-0">@(String.IsNullOrEmpty(x.headdirection) ? "No Data" : x.headdirection)</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                            <div class="d-flex align-items-center">
                                <div class="text-left">
                                    <h6 class="mb-0">Age At Death</h6>
                                    <p class="mb-0">@(String.IsNullOrEmpty(x.ageatdeath) ? "No Data" : x.ageatdeath)</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                            <div class="d-flex align-items-center">
                                <div class="text-left">
                                    <h6 class="mb-0">EXCAVATION DATE</h6>
                                    <p class="mb-0">@(String.IsNullOrEmpty(x.dateofexcavation) ? "No Data" : x.dateofexcavation)</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                            <div class="d-flex align-items-center">
                                <div class="text-left">
                                    <h6 class="mb-0">EXPERT INITIALS</h6>
                                    <p class="mb-0">@(String.IsNullOrEmpty(x.dataexpertinitials) ? "No Data" : x.dataexpertinitials)</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                            <div class="d-flex align-items-center">
                                <div class="text-left">
                                    <h6 class="mb-0">SEX</h6>
                                    <p class="mb-0">@(String.IsNullOrEmpty(x.sex) ? "No Data" : x.sex)</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                @*border*@
                <div class="col-12 mt-4 order-4">
                    <div class="border-bottom border-primary"></div>
                </div>
            </div>
            <div class="flex row" style="gap: 2vw; justify-content: center;">
                <div class="col-xl-3 text-sm-right text-left order-sm-2 order-3 order-xl-3 col-sm-6 mb-4 mb-xl-0">
            <a href="course-single.html" class="btn btn-primary">Apply now</a>
        </div>
                    @*<a href="course-single.html" class="btn btn-primary" asp-controller="Home" asp-action="Edit" asp-route-id ="@x.id">Edit Record</a>
                    <a href="course-single.html" class="btn btn-primary" asp-controller="Home" asp-action="Delete" asp-route-id ="@x.id">Delete Record</a>*@

            </div>
            <!-- course details -->
            <div class="row">
                <div class="col-12 mb-4">
                    <h3>Mummy Description</h3>
                    <p>
                        @(String.IsNullOrEmpty(x.text) ? "No description for this mummy" : x.text)
                    </p>
                </div>
                <div class="col-12 mb-4">
                    <h3 class="mb-3">Location Data</h3>
                    <div class="col-12 px-0">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-styled">
                                    <li>Square North South: @(String.IsNullOrEmpty(x.squarenorthsouth) ? "No Data" : x.squarenorthsouth)</li>
                                    <li>Square East West: @(String.IsNullOrEmpty(x.squareeastwest) ? "No Data" : x.squareeastwest)</li>
                                    <li>North South: @(String.IsNullOrEmpty(x.northsouth) ? "No Data" : x.northsouth)</li>
                                    <li>East West: @(String.IsNullOrEmpty(x.eastwest) ? "No Data" : x.eastwest)</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-styled">
                                    <li>Shaft Number: @(String.IsNullOrEmpty(x.shaftnumber) ? "No Data" : x.shaftnumber)</li>
                                    <li>Cluster Number: @(String.IsNullOrEmpty(x.clusternumber) ? "No Data" : x.clusternumber)</li>
                                    <li>Samples Collected: @(String.IsNullOrEmpty(x.samplescollected) ? "No Data" : x.samplescollected)</li>
                                    <li>Area: @(String.IsNullOrEmpty(x.area) ? "No Data" : x.area)</li>
                                    <li>Burial ID: @(x.burialid == null ? "No Data" : x.burialid)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4">
                    <h3 class="mb-3">Burial Details</h3>
                    <div class="col-12 px-0">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-styled">
                                    <li>Developmental Stage: @(String.IsNullOrEmpty(x.adultsubadult) ? "No Data" : x.adultsubadult)</li>
                                    <li>Face Bundles: @(String.IsNullOrEmpty(x.facebundles) ? "No Data" : x.facebundles)</li>
                                    <li>Preservation: @(String.IsNullOrEmpty(x.preservation) ? "No Data" : x.preservation)</li>
                                    <li>Wrapping: @(String.IsNullOrEmpty(x.wrapping) ? "No Data" : x.wrapping)</li>
                                    <li>Field Book Page: @(String.IsNullOrEmpty(x.fieldbookpage) ? "No Data" : x.fieldbookpage)</li>
                                    <li>Goods: @(String.IsNullOrEmpty(x.goods) ? "No Data" : x.goods)</li>
                                    <li>Excavation Recorder: @(String.IsNullOrEmpty(x.excavationrecorder) ? "No Data" : x.excavationrecorder)</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-styled">
                                    <li>Hair: @(String.IsNullOrEmpty(x.hair) ? "No Data" : x.hair)</li>
                                    <li>Hair Color: @(String.IsNullOrEmpty(x.hair) ? "No Data" : x.haircolor)</li>
                                    <li>Burial Materials: @(String.IsNullOrEmpty(x.burialmaterials) ? "No Data" : x.burialmaterials)</li>
                                    <li>South to Feet: @(String.IsNullOrEmpty(x.southtofeet) ? "No Data" : x.southtofeet)</li>
                                    <li>West to Feet: @(String.IsNullOrEmpty(x.westtofeet) ? "No Data" : x.westtofeet)</li>
                                    <li>South to Head: @(String.IsNullOrEmpty(x.southtohead) ? "No Data" : x.southtohead)</li>
                                    <li>West to Head: @(String.IsNullOrEmpty(x.westtohead) ? "No Data" : x.westtohead)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
         }